<nav class="BodyNav">
    <div class="NavFirstHalf">
        <div class="logo">
            <a routerLink="/home"><img src="../assets/CreditCarLogotipo.svg" alt=""></a>
        </div>
        <div class="Search">
            <a routerLink="/seeker">Buscar</a>
        </div>
        <div class="Credit">
            <a href="">Financiar</a>
        </div>
        <div class="Compare">
            <a href="">Comparar</a>
        </div>
        <div class="Announce">
            <a href="">Anunciar</a>
        </div>
    </div>
    <div class="NavSecondHalf">
        <div class="Log-in">
            <a routerLink="/login">Iniciar sesión</a>
        </div>
    </div>
</nav>
<div class="router"><router-outlet></router-outlet></div>
<footer class="BodyFooter">
    <div class="Logotipo"><img src="../assets/CreditCarLogotipo.svg" alt=""></div>
    <div class="Info-Contact">
        <div class="TitleContact">
            <h2>Contactanos</h2>
        </div>
        <div class="TextContact">
            <ol>
                <li class="Tel">Tel: +1 408 XXX XXXX</li>
                <li class="Email">Correo Electronico: xxxxxxx@gmail.com</li>
            </ol>
        </div>
    </div>
    <div class="Links">
        <div class="TitleLinks">
            <h2>Enlaces</h2>
        </div>
        <div class="TextLinks">
            <ol>
                <li><a href=""><p>Sobre nosotros</p></a></li>
                <li><a href=""><p>Escógenos</p></a></li>
                <li><a href=""><p>Carros populares</p></a></li>
            </ol>
        </div>
    </div>
</footer>