<div>
    <section class="Section1">
        <div class="Section1-CarBackground">
            <video class="Carhome" src="../../assets/pexels-pavel-danilyuk-6157913-1920x1080-30fps.mp4" autoplay muted loop></video>
        </div>
        <div class="Section1-Search">
            <div class="SearchAdvance">
                <div class="Advance-New-Used">
                    <p>Nuevo/Usado</p>
                    <select  class="New-Used" name="New-Used">
                        <option value="1" default></option>
                        <option value="1">Nuevo</option>
                        <option value="2">Usado</option>
                    </select>
                </div>
                <div class="Advance-Brand">
                    <p>Marca</p>
                    <select class="Brand" name="Brand">
                        <option value="1" default></option>
                        <option value="1">Audi</option>
                    </select>
                </div>
                <div class="Advance-Model">
                    <p>Modelo</p>
                    <select name="Model">
                        <option value="1" default></option>
                        <option value="1">Audi R8 Coupe</option>
                    </select>
                </div>
                <div class="Advance-Price">
                    <p>Precio</p>
                    <select name="Price">
                        <option value="1" default></option>
                        <option value="1">23'000.000</option>
                    </select>
                </div>
                <div class="Advance-Distance">
                    <p>Distancia</p>
                    <select name="Distance">
                        <option value="1" default></option>
                        <option value="1">10 km</option>
                    </select>
                </div>
                <div class="Advance-ZIP">
                    <input class="Zip-input" type="text" placeholder="ZIP">
                    <a  class="Search-button" routerLink="/seeker">Buscar</a>
                </div>
            </div>
            <div class="Info-search">
                <h2>Encuentra el carro de tus sueños</h2>
                <p>¡No lo pienses más vamos a encontrar el auto indicado para ti y tu viaje!</p>
            </div>
        </div>
    </section>
    <section class="Section2">
        <div class="TitlePopular">
            <h2>Carros más populares</h2>
            <div><img src="../../assets/Separator.svg" alt=""></div>
        </div>
        <div class="CarrouselProducts">
            <div class="Cards" >
                <div class="Cardsproducts" *ngFor="let Card of Cards">
                    <div class="ImageProduct">
                        <div class="ImageCarProduct">
                            <img src="../../assets/Audi.svg" alt="">
                        </div>
                        <div class="textCards">
                            <p>{{Card.name}}</p>
                        </div>
                        <div class="textCards">
                            <p>{{Card.price}}</p>
                        </div>
                        <div class="Locate"><img src="../../assets/Locate.svg" alt="">
                            <p class="Textlocate">{{Card.way.state}},{{Card.way.city}}</p>
                        </div>
                        <div class="ButtonShowMore"><a href="{{Card.url}}">Ver más</a></div>
                    </div>
                </div>
                <div class="Circles">
                    <div class="Circles1"></div>
                    <div class="Circles2"></div>
                    <div class="Circles3"></div>
                    <div class="Circles4"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="Section3">
        <div class="titleChooseme">
            <div class="TitleChoose">
                <h2>¡Escogenos!</h2>
            </div>
            <img src="../../assets/SeparatorOpposite.svg" alt="">
        </div>
        <div class="Section3-Funtion-CarVector">
            <div class="Funtion">
                <div class="CarFuntion">
                    <div class="Icon-Funtion">
                        <img src="../../assets/ClockIcon.svg" alt="">
                    </div>
                    <div class="Text-Funtion">
                        <p>Rapidos, eficientes y eficacez a la hora de evaluar financiamiento
                            y en la busqueda de tu vehículo ideal.</p>
                    </div>
                </div>
                <div class="CarFuntion">
                    <div class="Icon-Funtion">
                        <img src="../../assets/MagnificGlassIcon.svg" alt="">
                    </div>
                    <div class="Text-Funtion">
                        <p>Tenemos a nuestra disposición un extenso catalogo de vehículos con descripciones
                            detalladas, fotografías y precios actualizados.</p>
                    </div>
                </div>
                <div class="CarFuntion">
                    <div class="Icon-Funtion">
                        <img src="../../assets/ChangeIcon.svg" alt="">
                    </div>
                    <div class="Text-Funtion">
                        <p>Podemos buscar el vehículo ideal ayudándote a comparar la
                            información para que elijas siempre la mejor opción.</p>
                    </div>
                </div>
            </div>
            <div class="CarVector">
                <img src="../../assets/Car2Home.svg" alt="">
            </div>
        </div>
    </section>
    <section class="Section4">
        <div class="Section4-titleAboutUs">
            <div>
                <h2>Sobre nosotros</h2>
            </div>
            <img src="../../assets/Separator.svg" alt="">
        </div>
        <div class="Section4-Mision-Vision">
            <div class="Vision">
                <h2>Visión</h2>
                <p>En CreditCar nuestra misión es ofrecer una plataforma
                    confiable y segura para que los clientes puedan encontrar y adquirir el vehículo de sus sueños.
                    Nos comprometemos a proporcionar una experiencia de
                    compra y financiamiento excepcional, así como un
                    servicio de mantenimiento de alta calidad para garantizar
                    la satisfacción total de nuestros clientes.</p>
            </div>
            <div class="Photo-Background"><img src="../../assets/guy.svg" alt=""></div>
            <div class="Mision">
                <h2>Misión</h2>
                <p>En CreditCar nuestra misión es ofrecer una plataforma confiable
                    y segura para que los clientes puedan encontrar y adquirir
                    el vehículo de sus sueños. Nos comprometemos a proporcionar
                    una experiencia de compra y financiamiento excepcional,
                    así como un servicio de mantenimiento de alta calidad para
                    s garantizar la satisfacción total de nuestros clientes.</p>
            </div>
        </div>
    </section>
</div>