<div>
    <section class="SectionBackground">
        <div class="backgroundFinancing">
            <img src="../../assets/BackgroundFinancing.svg" alt="">
        </div>
        <div class="DivUsual">
            <div class="BackgroundDifuse">
            </div>
            <div class="Logo-ButtonPreFinancing">
                <img src="../../assets/CreditCarLogotipo.svg" alt="">
            </div>
        </div>
        <div><a class="ButtonPrefinancing" routerLink="/form">Pre-financiamiento</a></div>
    </section>
    <section class="SectionInfoDest">
        <div class="InfoDest-title-text">
            <div class="title">
                <h2><b>Pre-financia tu carro en nuestra página
                        web de dealers y</b> obtén la libertad de conducir tu propio vehículo</h2>
            </div>
            <div class="text">
                <p>¿Quieres tener tu propio carro pero no tienes todo el dinero en efectivo? ¡No te preocupes! En
                    nuestra página web de dealers,
                    ofrecemos opciones de pre-financiamiento que hacen que sea fácil y rápido obtener el vehículo que
                    deseas. Olvídate de esperar a ahorrar todo
                    el dinero, con nuestro sistema de pre-financiamiento puedes conseguir la seguridad para conducir tu
                    carro nuevo en poco tiempo.</p>
            </div>
        </div>
    </section>
    <section class="SectionInfoCards">
        <div class="DivInfoCards">
            <div class="Card">
                <div class="Card-icon">
                    <img src="../../assets/IconEfficient.svg" alt="">
                </div>
                <div class="Card-text">
                    <p>Nos destacamos por ser la opción más eficiente en cuanto a pre-financiamiento se refiere.</p>
                </div>
            </div>
            <div class="Card">
                <div class="Card-icon">
                    <img src="../../assets/ClockIcon.svg" alt="">
                </div>
                <div class="Card-text">
                    <p>Sabemos que tu tiempo también es importante, por eso no esforzamos al máximo para ser los más
                        rápidos.</p>
                </div>
            </div>
            <div class="Card">
                <div class="Card-icon">
                    <img src="../../assets/IconCard.svg" alt="">
                </div>
                <div class="Card-text">
                    <p>Nos preocupamos por proteger tu historial crediticio. Por eso, nuestro proceso de
                        pre-financiamiento está diseñado para no afectar tu crédito.</p>
                </div>
            </div>
        </div>
    </section>
</div>