.Section1-CarBackground{
    box-sizing: border-box;
    width: 100%;
    height: 584px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 4px var(--c2) solid;
}
.CarSeeker{
    width:100%;
    object-fit: cover;
    height: 580px;
}
.Section1-Search{
    background-color: var(--sw);
    position: absolute;
    z-index: 200;
    display: flex;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
    flex-flow: row wrap;
    border-bottom: solid var(--c2) 4px;
    width: 75%;
    height: 24%;
    top: 540px;
    left: 180px;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}
.Advance-New-Used p{
    margin-bottom: 8px;
}
.New-Used{
    width: 100px;
}
.Advance-Brand p{
    margin-bottom: 8px;
}
.Advance-Model p{
    margin-bottom: 8px;
}
.Advance-Price p{
    margin-bottom: 8px;
    margin-top: 2px;
}
.Advance-Distance p{
    margin-bottom: 8px;
    margin-top: 2px;
}
.Zip-input{
    margin:30px 10px 0 0;
    width: 70px;
}
.Search-button{
   padding: 5px 10px;
   border-radius: 15px;
   background-color: var(--c1);
   color: var(--w);
   border: none;
   cursor: pointer;
   text-decoration: none;
}
.SearchAdvance{
    display: grid;
    grid-template-columns:auto auto auto;
    padding: 0 30px;
    width: 40%;
    
}
.Section2-title-compare{
    display: flex;
    flex-flow: wrap row;
    margin: 0 0 0 -2.5px;
}
.title-relation{
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 4px var(--c2) solid;
}
.title-relation h2{
    color: var(--c1);
}
.title-relation img{
    width: 600px;
}
.compare{
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.compare button{
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
   border: 2px var(--c1) solid;
   background-color: var(--w);
   border-radius: 30px;
   height: 55px;
   padding: 8px 16px; 
   color: var(--c1);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

}
.compare button:hover{
    border: none;
    background-color:#1fadff;
    color: #000000;
    filter: invert(100%);
    transition: all .1s ease-in;
    border-radius: 30px;
    padding: 10px 18px;
}
.compare img{
    position: absolute;
    z-index: -200;
    right: 0;

}

.Section2{
    margin: 120px 0 100px 0;
}
.CarrouselProducts{
    margin: 40px 0 0 0;
    display: flex;
    width: 100%;

}
.Cards{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: row wrap; 
}
.Cardsproducts{
    width: 275px;
    height: 515px;
    margin: 0 0 40px 30px;
    border-bottom: solid var(--c1) 4px;
    border-radius: 15px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}

.ImageCarProduct{
    width: 275px;
    height: 310px;
    overflow: hidden;
    object-fit: cover;
    box-sizing: border-box;
}
.Locate{
    margin: -20px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    padding-left: 10px;
}
.Locate img{
    margin: 0 5px 0 0;

}
.textCards img{
    width: 26px;
    margin-right: 6px;

}
.textCards{
    display: flex;
    align-items: center;

    width: 100%;
    padding-left: 12px;
}
.ButtonShowMore a{
    background-color: var(--c1);
    border: 40px;
    text-decoration: none;
    color: var(--w);
    border-radius: 30px;
    padding: 8px 16px; 

}
.ButtonShowMore{
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}