<section class="Section1">
    <div class="Section1-CarBackground">
        <img class="CarSeeker" src="../../assets/CarSeeker.svg" alt="">
    </div>
    <div class="Section1-Search">
        <div class="SearchAdvance">
            <div class="Advance-New-Used">
                <p>Nuevo/Usado</p>
                <select  class="New-Used" name="New-Used">
                    <option value="1" default></option>
                    <option value="1">Nuevo</option>
                    <option value="2">Usado</option>
                </select>
            </div>
            <div class="Advance-Brand">
                <p>Marca</p>
                <select class="Brand" name="Brand">
                    <option value="1" default></option>
                    <option value="1">Audi</option>
                </select>
            </div>
            <div class="Advance-Model">
                <p>Modelo</p>
                <select name="Model">
                    <option value="1" default></option>
                    <option value="1">Audi R8 Coupe</option>
                </select>
            </div>
            <div class="Advance-Price">
                <p>Precio</p>
                <select name="Price">
                    <option value="1" default></option>
                    <option value="1">23'000.000</option>
                </select>
            </div>
            <div class="Advance-Distance">
                <p>Distancia</p>
                <select name="Distance">
                    <option value="1" default></option>
                    <option value="1">10 km</option>
                </select>
            </div>
            <div class="Advance-ZIP">
                <input class="Zip-input" type="text" placeholder="ZIP">
                <a  class="Search-button" routerLink="/seeker">Buscar</a>
            </div>
        </div>
        <div class="Info-search">
            <h2>¡Falta poco!</h2>
            <p>Estamos a un paso de encontrar el vehículo ideal para ti</p>
        </div>
    </div>
</section>
<section class="Section2">
    <div class="Section2-title-compare">
        <div class="title-relation">
            <h2>Carros relacionados</h2>
        </div>
    </div>
    <div class="compare">
        <button>
            <h2>Comparar</h2>
        </button>
    </div>
    <div class="CarrouselProducts">
        <div class="Cards">
            <div class="Cardsproducts" *ngFor="let Card of Cards">
                <div class="ImageProduct">
                    <div class="ImageCarProduct">
                        <img src="../../assets/Audi.svg" alt="">
                    </div>
                    <div class="textCards">
                        <p>{{Card.information.name}}
                        </p>
                    </div>
                    <div class="textCards">
                        <p>${{Card.information.price}}</p>
                    </div>
                    <div class="Locate"><img src="../../assets/Locate.svg" alt="">
                        <p class="Textlocate">{{Card.information.way.state}}, {{Card.information.way.city}}</p>
                    </div>
                    <div class="ButtonShowMore"><a routerLink="/product/{{Card._id}}">Ver más</a></div>
                </div>
            </div>
        </div>
    </div>
</section>