<div class="Body">
    <section class="Body-DealerUser">
        <div class="DealerUser-CommonData">
            <div>
                <p>ssss</p>
            </div>
            <div>
                <p>sssss</p>
            </div>
            <img class="imgDealer" src="../../assets/Perfilphoto.svg" alt="">
            <div>
                <p>ssss</p>
            </div>
            <div>
                <p>ssss</p>
            </div>
        </div>
        <div class="DealerUser-Nav">
            <p class="Per">Galeria de Carros</p>
        </div>
        <div class="DealerUser-totalinfo">
            <div class="CarrouselProducts">
                <div class="Cards" *ngFor="let Card of Cards">
                    <div class="Cardsproducts" >
                        <div class="ImageProduct">
                            <div class="ImageCarProduct">
                                <img src="../../assets/Audi.svg" alt="">
                            </div>
                            <div class="textCards">
                                <p>{{Card.information.name}}</p>
                            </div>
                            <div class="textCards">
                                <img src="../../assets/DollarIcon.svg" alt="">
                                <p>${{Card.information.price}}</p>
                            </div>
                            <div class="Locate"><img src="../../assets/Locate.svg" alt="">
                                <p class="Textlocate"> {{Card.information.way.state}}, {{Card.information.way.city}}</p>
                            </div>
                            <div class="ButtonShowMore"><a routerLink="/product/s">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>