<section class="Section1">
    <div class="section1-backgroundCar">
        <img class="CarProduct" src="../../assets/Audi.svg" alt="">
    </div>
    <div class="section1-Photo-InfoImportant">
        <div class="Photo">
            <div class="Bigphoto">
                <img src="../../assets/Audi.svg" alt="">
            </div>
            <div>
                <div class="MaskChangePhoto">
                    <img src="../../assets/AudiSecondPhoto.svg" alt="">
                </div>
                <div class="MaskChangePhoto">
                    <img src="../../assets/AudiThirtPhoto.svg" alt="">
                </div>
                <div class="MaskChangePhoto">
                    <img src="../../assets/AudifourthPhoto.svg" alt="">
                </div>
                <div class="MaskChangePhoto">
                    <img src="../../assets/AudififthPhoto.svg" alt="">
                </div>
                
            </div>
        </div>
        <div class="InfoImportant">
            <div class="InfoImp1"><h2>Concesionario:</h2><h2>Covert Chrysler Jeep Ram</h2>
            <div class="PutIn-InfoImp1"></div></div>
            <div class="InfoImp2"><h2>Nombre:</h2><h2>Audi R8 Coupe Rojo y Negro</h2>
                <div class="PutIn-InfoImp2"></div></div>
            <div class="InfoImp3"><h2>Precio:</h2><h2>$23'000.000</h2>
                <div class="PutIn-InfoImp3"></div></div>
            <div class="InfoImp4"><h2>Ubicación:</h2><h2>California, Minesota</h2>
                <div class="PutIn-InfoImp3"></div></div>
        </div>
        <div class="button">
            <button class="ContactDealer">Contactar</button>
        </div>
    </div>
</section>
<section class="Section2">
    <div>
        <div class="Especification-Section2">
            <div class="Especification-title1">
                <h2>Especificaciones</h2>
                <div class="rectangle"></div>
            </div>
        </div> 
        <div class="Especification-details-Section2">
            <ol class="Details">
                <li class="EachDetail"><p>Millaje:</p><p></p></li>
                <li class="EachDetail"><p>Color del exterior:</p><p></p></li>
                <li class="EachDetail"><p>Consumo:</p><p></p></li>
                <li class="EachDetail"><p>Tipo de combustible</p><p></p></li>
                <li class="EachDetail"><p>Tracción:</p><p></p></li>
                <li class="EachDetail"><p>Color del interior:</p><p></p></li>
                <li class="EachDetail"><p>Motor:</p><p></p></li>
                <li class="EachDetail"><p>Transmisión:</p><p></p></li>
            </ol>
        </div>
    </div>
</section>