.Section1{
    width: 100%;
    height: 100%;
}
.section1-backgroundCar{
    width: 100%;
    position: absolute;
    height: 524px;
    z-index: -30;
    border-bottom: 4px var(--c2) solid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.CarProduct{
    object-fit: cover;
    object-position: 0 -800px;
    width: 100%;
    height: 524px;
}
.section1-Photo-InfoImportant{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; 
    width: 100%;
    height: fit-content;

}
.InfoImp{
    width: 400px;
    height: 60px;
    padding: 2px 5px;
    border-radius: 15px;
    border-bottom: 4px var(--c1) solid;
    background-color: var(--sw);
    margin-bottom: 10px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}
.buttonO{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonO button{
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
   border: 2px var(--c1) solid;
   background-color: var(--w);
   border-radius: 30px;
   height: 55px;
   padding: 8px 16px; 
   color: var(--c1);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

}
.buttonO button:hover{
    border: none;
    background-color:#1fadff;
    color: #000000;
    filter: invert(100%);
    transition: all .1s ease-in;
    border-radius: 30px;
    padding: 10px 18px;
}
.Bigphoto{
    width: 100%;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}
.Bigphoto img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.MaskChangePhoto {
    width: 100px;
    height: 101px;
    margin: 10px 0 0 8px;
}
.MaskChangePhoto img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.Content-MaskChangePhoto{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
}
.Photo{
    display: flex;
    flex-flow: row wrap;
    width: 30%;
}


.ContactDealer{
    background-color: var(--c1);
    border-radius: 40px;
    border: none;
    padding: 0 20px 0 20px;
    color: var(--w);
    cursor: pointer;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.Modal{
    background-color: rgba(246, 246, 246, 0.90);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 700;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.ModalBox{
    position: absolute;
    background-color: var(--sw);
    border-bottom: solid var(--c1) 4px;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    padding: 30px 90px;
}
.ModalContact{
    background-color: var(--c1);
    color: var(--w);
    border-radius: 10px;
    width: fit-content;
    padding: 5px;

}
.ModalBox:nth-child(1) h2{
    color: var(--c1);
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.Per{
    padding: 6px 20px;
}
.ButtonModal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 65px;
    
}
.CloseModal{
    cursor: pointer;
    color: var(--w);
    background-color: var(--c1);
    border: none;
    padding: 11px 30px;
    border-radius: 30px;
}
.visto{
    display: flex !important;
}
.details-items{
    margin: 5vh 0 0 0;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.TitleEspecfic{
    color: var(--c1);
}
.Nav-details-items{
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
    background-color: var(--sw);
    border-radius: 15px;
    border-bottom: 4px var(--c1) solid;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.visto3{
    transition: all .2s ease-in;
    background-color: var(--c1);
    color: var(--sw);
    border-radius: 30px;
}
.Squares-items{
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
    margin-top: 50px;
    width: fit-content;
    display: grid;
    justify-content: center;
    padding: 0 25px 0 25px;
    background-color: var(--sw);
    border-radius: 15px;
    border-bottom: 4px var(--c1) solid;
    border-top: 4px var(--c1) solid ;
}
ol{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    justify-content:space-between;
    align-items: center;
}
li{
    width: 300px;
}