<section class="Modal" id="MyModal">
    <div class="ModalBox">
        <div>
            <h2>¡Pre-financia este carro!</h2>
        </div>
        <form class="Formuniquedealer" [formGroup]="FinancingFormUnique" (submit)="Send()">
            <div class="ContentInputs">

                <label for="">Edad</label>
                <input type="number" formControlName="age">

                <label for="">Ciudad</label>
                <input type="text" formControlName="city">

                <label for="">Estado</label>
                <input type="text" formControlName="state">


                <label for="">Zip</label>
                <input type="text" formControlName="zip">

                <label for="">Ingresos anuales</label>
                <input type="number" formControlName="income">
            </div>
            <div class="ContentInputs">

             
                <label for="">Cuota inicial</label>
                <input type="number" formControlName="amount">
                
                <label for="">Tipo de residencia</label>
                <select formControlName="typeofresidence">
                    <option value="">Residencia propia</option>
                    <option value="">Residencia alquilada</option>
                </select>

               
                <label for="">Tipo de credito</label>
                <select class="aCredit1" formControlName="credit">
                    <option value="">Excelente (720 - 850)</option>
                    <option value="">Bueno (680 - 719)</option>
                    <option value="">Justo (640 - 679)</option>
                    <option value="">Pobre (0 - 639)</option>
                </select>

                <label for="">Tipo de contrato</label>
                <select class="aContract" formControlName="typeofcontract">
                    <option value="">Tiempo completo</option>
                    <option value="">Mitad de tiempo</option>
                    <option value="">Independiente</option>
                    <option value="">Desempleado</option>
                    <option value="">Otro </option>
                </select>  
            </div>
            <div class="ButtonModal">
                <button [disabled]="!FinancingFormUnique.valid" class="CloseModal">Enviar</button>
            </div>
        </form>
    
    </div>
</section>
<section class="Modal1"  id="MyModal2">
    <div class="ModalBox">
        <div>
            <h2>Estos son los resultados</h2>
        </div>
        <div>
            <h2>75%</h2>
        </div>
        <div>
            <p>Hemos analizado tu información y aquí el resultado con el concecionario
            {{Cars.information.nameDealer}} si quieres comunicarte con dicho concesionario y persiona "Ir al concesionario" 
            ahí te saldra toda la información de contacto</p>
        </div>
        <div>
            <div class="ButtonModal">
                <button (click)="Close()" class="CloseModal">Cerrar</button>
                <a class="CloseModal">Ir con el concesionario</a>
            </div>
        </div>
    </div>
</section>
<div class="DivMax">
    <section class="Section1">
        <div class="section1-backgroundCar">
            <div class="Gradient"></div>
            <img class="CarProduct" src="../../assets/Audi.svg" alt="">
        </div>
        <div class="section1-Photo-InfoImportant">
            <div class="InfoImportant">
                <div class="InfoImp">
                    <h2>Nombre: {{Cars.information.name}}</h2>
                </div>
                <div class="InfoImp">
                    <h2>Precio: ${{Cars.information.price}}</h2>
                </div>
            </div>
            <div class="Photo">
                <div class="Bigphoto">
                    <img src="../../assets/Audi.svg" alt="">
                </div>
                <div class="Content-MaskChangePhoto">
                    <div class="MaskChangePhoto">
                        <img src="../../assets/AudiSecondPhoto.svg" alt="">
                    </div>
                    <div class="MaskChangePhoto">
                        <img src="../../assets/AudiThirtPhoto.svg" alt="">
                    </div>
                    <div class="MaskChangePhoto">
                        <img src="../../assets/AudifourthPhoto.svg" alt="">
                    </div>
                    <div class="MaskChangePhoto">
                        <img src="../../assets/AudififthPhoto.svg" alt="">
                    </div>

                </div>
            </div>
            <div class="InfoImportant">
                <div class="InfoImp">
                    <h2>Concesionario: {{Cars.information.nameDealer}}</h2>
              
                </div>
                <div class="InfoImp">
                    <h2>Ubicación: {{Cars.information.way.state}} - {{Cars.information.way.city}}</h2>
                </div>
            </div> 
        </div>
        <div class="buttonO">
            <button (click)="Hidden()">
            <h2>Pre-financiar</h2>
            </button>
            <a routerLink="/profile-dealer-public/{{Cars.information.id_dealer}}">
                <h2>Ir al concecionario</h2>
            </a>
        </div>
    </section>
    <section class="details-items">
        <div class="TitleEspecfic">
            <h2>Especificaciones</h2>
        </div>
        <div class="Nav-details-items">
            <p class="Per" (click)="Hide(1)">Generales</p>
            <p class="Per" (click)="Hide(2)">Consumo</p>
            <p class="Per" (click)="Hide(3)">Desempeño</p>
            <p class="Per" (click)="Hide(4)">Seguridad</p>
            <p class="Per" (click)="Hide(5)">Medidas</p>
            <p class="Per" (click)="Hide(6)">Adicionales</p>
        </div>
        <div class="Squares-items" *ngIf="visibleVar==1">
            <ol>
                <li>
                    <p>Millaje: {{Cars.pspecifications.mileage}}</p>
                    
                </li>
                <li>
                    <p>Color del exterior: {{Cars.pspecifications.outsideColor}}</p>
                    
                </li>
                <li>
                    <p>Consumo: {{Cars.pspecifications.consumption}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Tipo de combustible: {{Cars.pspecifications.fueltype}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Tracción: {{Cars.pspecifications.traction}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Color del interior: {{Cars.pspecifications.insidecolour}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Motor: {{Cars.pspecifications.engine}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Transmisión: {{Cars.pspecifications.transmission}}</p>
                    
                </li>
            </ol>
        </div>
        <div class="Squares-items" *ngIf="visibleVar==2">
            <ol class="Details" id="DropdownFun4">
                <li class="EachDetail" >
                    <p>Consumo combinado: {{Cars.consumption.Combinedconsumption}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Consumo en ciudad: {{Cars.consumption.Consumptioncity}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Consumo en carretera: {{Cars.consumption.Consumptionroad}}</p>
                    
                </li>
            </ol>
        </div>
        <div class="Squares-items" *ngIf="visibleVar==3">
            <ol class="Details" id="DropdownFun3"> 
                <li class="EachDetail">
                    <p>Transmisión: {{Cars.performace.Transmission}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Tracción: {{Cars.performace.Traction}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Motor: {{Cars.performace.Engine}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Potencia: {{Cars.performace.Power}}</p>
                    
                </li>
            </ol>
        </div>
        <div class="Squares-items" *ngIf="visibleVar==4">
            <ol class="Details" id="DropdownFun2">
                <li class="EachDetail">
                    <p>Camara de retroceso: {{Cars.security.Reversingcamera}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Monitoreo de puntos ciegos: {{Cars.security.Blindspot}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Velocidad automatica adaptable: {{Cars.security.Adaptivespeed}}</p>
                    
                </li>
            </ol>
        </div>
        <div class="Squares-items" *ngIf="visibleVar==5">
            <ol class="Details" id="DropdownFun1">
                <li class="EachDetail">
                    <p>Cantidad de puertas: {{Cars.measures.doors}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Volumen de carga: {{Cars.measures.cargovolume}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Tanque de combustible: {{Cars.consumption.tanksize}}</p>
                </li>
            </ol>
        </div>
        <div class="Squares-items" *ngIf="visibleVar==6">
            <ol class="Details" id="DropdownFun">
                <li class="EachDetail">
                    <p>Asientos calefaccionados: {{Cars.additional.Heatedseats}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Bluetooth: {{Cars.additional.Bluetooth}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Encendido remoto: {{Cars.additional.remotestart}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Sist. de navegación: {{Cars.additional.Systemnavigation}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Techo corredizo/escotillo: {{Cars.additional.SunroofHatch}}</p>
                    
                </li>
                <li class="EachDetail">
                    <p>Tercera fila de asientos: {{Cars.additional.hatch}}</p>
                    
                </li>
            </ol>
        </div>
    </section>
</div>
    