<!--
<section>

   <img src="../../assets/Logotipoblanco.svg" class="img">


   <h1> INICIA SESIÓN</h1>


   <label for="Correo electronico">Correo electronico</label>
   <input type="text" id="email">

   <pre></pre>


   <label for="Contraseña">Contraseña</label>
   <input type="password" id="password">
    
   <pre></pre>

   <a href=""><button>INICIAR SESIÓN </button></a>

   <p> <a href="ButtonShowMore">¿Has olvidado la Contraseña?</a> </p>

   <div class=" Cuenta">

      <p>¿No tienes cuenta?  </p>
   
      <a routerLink="/Register">Crear Cuenta</a>
   </div>

</section>
-->

<!--login-->

<section>
   <div class="contenedor">
      <div class="item">
         <img src="../../assets/logotipoblanco.svg" class="img">
        
        <!--
         <img src="../../assets/AudififthPhoto.svg" class="audi"> -->
         
         <div class="texto">
            <h2>BIENVENIDO <br><span>
               </span></h2>
            <p>¿Eres un amante de los carros y estás buscando la mejor oferta para comprar el tuyo? Credit Car es la plataforma perfecta para ti. Regístrate y encuentra las mejores promociones en carros nuevos y usados de los mejores concesionarios del mercado. ¿Por qué esperar más? Inicia sesión ahora mismo y sorpréndete de lo que tenemos para ti.</p>
         </div>
      </div>
      <div class="login-section">
         <div class="form-box login">

            <form [formGroup]="formLogin" (submit)="sendL()">
               <h2>INICIAR SESIÓN</h2>
               <div class="inpunt-box">
                  <label for="">Email</label>
                  <input type="email" formControlName="email" required>

               </div>
               <div class="inpunt-box">
                  <label for="">contraseña</label>
                  <input type="password" formControlName="password" required>

               </div>
               <div class="remember-password">
                  <label for=""><input type="checkbox">Recuerdame</label>
                  <a href="R">Olvidaste tu contraseña</a>
               </div>
               <button class="button" [disabled]="!formLogin.valid">INICIAR SESIÓN</button>
               <div class="crear-cuenta">
                  <!--
                  <p>¿No tienes cuenta? <a routerLink="/Register" class="Register">  Crear Cuenta</a></p>-->
                  <p>¿No tienes cuenta? <a routerLink="#" class="Register-link" >  Crear Cuenta</a></p>
               </div>
              
           
            </form>

         </div>
         <!-- Register -->
         <div class="form-box register">

            <form [formGroup]="formRegister" (submit)="sendR()">
               <h2>Registrate</h2>

               <div class="inpunt-box">
                  <label for="">Nombres y Apellidos </label>
                  <input type="text" required formControlName="name" placeholder=" Ej:Santiago Cardona">

               </div>
              
               <div class="inpunt-box">
                  <label for="">Numero de Telefono</label>
                  <input type="text" required formControlName="cellphone" placeholder="Ej:3216546572">

               </div>

               <div class="inpunt-box">
                  <label for="">Correo electronico</label>
                  <input type="email" required formControlName="email" placeholder="Tunombre@gmail.com">

               </div>
               <div class="inpunt-box">
                  <label for="">contraseña</label>
                  <input type="password" formControlName="password" required>

               </div>
            <!--
               <button class="boton">REGISTRATE</button>
            
               <div class="iniciar-sesion">
                  <p>¿Ya tienes cuenta?<a routerLink="#" class="login">Iniciar Sesión</a></p>
                  
                  <p>¿Ya tienes cuenta?<a routerLink="/login" class="login">Iniciar Sesión</a></p>
               
               </div>-->
               

               <button class="button" [disabled]="!formRegister.valid">REGISTRATE</button>
               <div class="crear-cuenta">
                  <!--
                  <p>¿No tienes cuenta? <a routerLink="/Register" class="Register">  Crear Cuenta</a></p>-->
                  <p>¿Ya tienes cuenta? <a routerLink="#" class="login-link" > Iniciar Sesión</a></p>
               </div>
           
            </form>

         </div>

      </div>

   </div>