
section{
    margin: 150px auto;
    height: 400px;
    width: 400px;
    background-color: var(--w);
    padding-bottom: 12px;
    padding-top: 0;
    text-align: center;
    box-shadow: 2px 5px 15px 0 black;
    border-radius: 10px;

}

.img{
    background-color: var(--c1);
    margin-bottom: 3px;
    padding-right:298px;
    padding-top: 10px;
    display: block;
  
}

h1{
    margin-bottom: 10px;
    padding: 10px 2px 10px;
    text-align: center;
    font-size:22px;
    color: (--b);
    border: 2px red solid;
    display: inline-block;
}

label{
 margin-left: 28px;
 padding:0;
font-weight:bold;
display:block;
text-align: left;
}

input{
width: 85%;
margin-bottom: 30x;
padding: 3px;
border-radius: 4px;
border-color: var(--b) ;
}

button{
   margin-top: 10px;
   padding: 6px;
   background-color: var(--c1);
   border-color: var(--c1);
   border-radius: 15px;

}
