<!DOCTYPE html>
<html lang="es">
  
 <header>CreditCar</header>
    
  <head><link rel="stylesheet" href="login.component.css"></head>

     <img src="../../assets/logotipoblanco.svg">

        <h1> INICIA SESION</h1>

        <label for="Correo electronico">Correo electronico</label>
        <input type="text"placeholder="correo electronico">
       
        <pre></pre>
       
         
         <label for="Contraseña">Contraseña</label>
         <input type="text"placeholder="Contraseña">
    <pre></pre>

        <button>INICIAR SESION</button>


        <p>¿Has olvidado la Contraseña?</p>


        <p>¿No tienes cuenta?</p>

        <div> <a href="https://www.figma.com/file/8c4Jaqps7eKC4QKm3exmqE/Untitled?node-id=0-1&t=Qmm4EoE9yWObcRW3-0">Crear Cuenta</a></div>

</html>