
<section  >
  
     <img src="../../assets/Logotipoblanco.svg" class="img">

     
     <h1> INICIA SESION</h1>

    <div>

        <label for="Correo electronico">Correo electronico</label>
        <input type="text">
    
        <pre></pre>
       
         <label for="Contraseña">Contraseña</label>
         <input type="password">
    
         <pre></pre>

     </div>

        <button>INICIAR SESION</button>


        <p>¿Has olvidado la Contraseña?</p>


        <p>¿No tienes cuenta?</p>

        <div> <a href="https://www.figma.com/file/8c4Jaqps7eKC4QKm3exmqE/Untitled?node-id=0-1&t=Qmm4EoE9yWObcRW3-0">Crear Cuenta</a></div>
      
</section>
