<div class="Body">
    <section class="Body-PerfilUser">
        <div class="PerfilUser-CommonData">
            <div>
                <p>{{User.name}}</p>
            </div>
            <div>
                <p>{{User.cellphone}}</p>
            </div>
            <img class="imgPerfil" src="../../assets/Perfilphoto.svg" alt="">
            <div>
                <p>{{User.email}}</p>
            </div>
            <div>
                <p>{{User.city}}</p>
            </div>
        </div>
        <div class="PerfilUser-Nav">
            <p class="Per" (click)="Hide(1)" >Datos personales</p>
            <p class="Per" (click)="Hide(2)" >Financiamiento</p>
            <p class="Per" (click)="Hide(3)" >Contraseña</p>
        </div>
        <form action="">
            <div class="PerfilUser-totalinfo" *ngIf="visibleVar==1">
                <div class="content">
                    <p >Tel:</p>
                    <input type="text"  value="{{User.cellphone}}" id="cellphone" placeholder="Modificar telefono">
                </div>
                <div class="content">
                    <p>Estado:</p>
                    <input type="text" value="{{User.state}}" id="state" placeholder="Modificar estado">
                </div>
                <div class="content">
                    <p>Ciudad:</p>
                    <input type="text" value="{{User.city}}" id="city" placeholder="Modificar ciudad">
                </div>
                <div class="content">
                    <p>Email:</p>
                    <input type="text" value="{{User.email}}" id="email" placeholder="Modificar email">
                </div>
                <div class="content">
                    <p>Zip:</p>
                    <input type="text" value="{{User.zip}}" id="zip" placeholder="Modificar zip">
                </div>
                <div class="content">
                    <p>Edad:</p>
                    <input type="number" value="{{User.age}}" id="age" placeholder="Modificar edad">
                </div>
                <div class="EditButtonDiv">
                    <button class="EditButton" (click)="SendFirst()">Modificar</button>
                </div>

            </div>
        </form>
        <div class="PerfilUser-totalinfo" *ngIf="visibleVar==2">
            <div class="content">
                <p>Monto inicial:</p>
                <input type="number" value="{{User.amount}}" id="amount" placeholder="Modificar monto inical">
            </div>
            <div class="content">
                <p>Precio del vehiculo</p>
                <input type="number" value="{{User.price}}" id="price" placeholder="Modificar precio">
            </div>
            <div class="content">
                <p>Tipo de contrato:</p>
                <select class="aContract" value="{{User.typeofcontract}}" id="typeofcontract" >
                    <option value="Tiempo completo">Tiempo completo</option>
                    <option value="Mitad de tiempo">Mitad de tiempo</option>
                    <option value="Independiente">Independiente</option>
                    <option value="Desempleado">Desempleado</option>
                    <option value="Otro">Otro </option>
                </select>
            </div>
            <div class="content">
                <p>Tipo de residencia:</p>
                <select value="{{User.typeofresidence}}" id="typeofresidence">
                    <option value="propia">Residencia propia</option>
                    <option value="alquilada">Residencia alquilada</option>
                </select>
            </div>
            <div class="content">
                <p>Tipo de credito</p>
                <select class="aCredit1" value="{{User.credit}}" id="credit">
                    <option value="Excelente">Excelente (720 - 850)</option>
                    <option value="Bueno">Bueno (680 - 719)</option>
                    <option value="Justo">Justo (640 - 679)</option>
                    <option value="Pobre">Pobre (0 - 639)</option>
                </select>
            </div>
            <div class="content">
                <p>Salario anual</p>
                <input type="number" value="{{User.income}}" id="income" placeholder="Modificar salario anual">
            </div>
            <div class="EditButtonDiv">
                <button class="EditButton" (click)="SendSecond()">Modificar</button>
            </div>
        </div>
        <div class="PerfilUser-totalinfo-Password" *ngIf="visibleVar==3"> 
            <div class="totalinfo-h2">
                <h2>Cambiar contraseña</h2>
            </div>
            <form class="password">
                <label class="label">Nueva contraseña</label>
                <label  class="label">Confirme contraseña</label>
                <input class="inputPass" type="password"  id="password">
                <input class="inputPass" type="password" id="passwordCon">
            </form>
            <div class="EditButtonDiv">
                <button class="EditButton" (click)="Sendthirt()">Cambiar</button>
            </div>
        </div>
    </section>
</div>