<div class="Body">
    <section class="Body-PerfilUser">
        <div class="PerfilUser-CommonData">
            <div>
                <p>{{User.name}}</p>
            </div>
            <div>
                <p>{{User.cellphone}}</p>
            </div>
            <img class="imgPerfil" src="../../assets/Perfilphoto.svg" alt="">
            <div>
                <p>{{User.email}}</p>
            </div>
            <div>
                <p>{{User.city}}</p>
            </div>
        </div>
        <div class="PerfilUser-Nav">
            <p class="Per" (click)="Hide(1)" >Datos personales</p>
            <p class="Per" (click)="Hide(2)" >Financiamiento</p>
            <p class="Per" (click)="Hide(3)" >Contraseña</p>
        </div>
        <form action="">
            <div class="PerfilUser-totalinfo" *ngIf="visibleVar==1">
                <div class="content">
                    <p >Tel:</p>
                    <input type="text"  value="{{User.cellphone}}" id="cellphone" placeholder="Modificar telefono">
                </div>
                <div class="content">
                    <p>Estado:</p>
                    <input type="text" value="{{User.state}}" id="state" placeholder="Modificar estado">
                </div>
                <div class="content">
                    <p>Ciudad:</p>
                    <input type="text" value="{{User.city}}" id="city" placeholder="Modificar ciudad">
                </div>
                <div class="content">
                    <p>Email:</p>
                    <input type="text" value="{{User.email}}" id="email" placeholder="Modificar email">
                </div>
                <div class="content">
                    <p>Zip:</p>
                    <input type="text" value="{{User.zip}}" id="zip" placeholder="Modificar zip">
                </div>
                <div class="content">
                    <p>Edad:</p>
                    <input type="number" value="{{User.age}}" id="age" placeholder="Modificar edad">
                </div>
                <div class="EditButtonDiv">
                    <button class="EditButton" (click)="SendFirst()">Modificar</button>
                </div>

            </div>
        </form>
        <div class="PerfilUser-totalinfo" *ngIf="visibleVar==2">
            <div class="content">
                <p>Monto inicial</p>
                <input type="number" value="{{User.amount}}" id="amount" placeholder="Modificar monto inical">
            </div>
            <div class="content">
                <p>{{User.price}}</p>
                <input type="number" value="{{User.amount}}" id="amount" placeholder="Modificar precio">
            </div>
            <div class="content">
                <p>{{User.typeofcontract}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>{{User.typeofresidence}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>{{User.credit}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>{{User.income}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
        </div>
        <div class="PerfilUser-totalinfo-Password" *ngIf="visibleVar==3"> 
            <div class="totalinfo-h2">
                <h2>Cambiar contraseña</h2>
            </div>
            <form class="password">
                <label class="label" for="">Nueva contraseña</label>
                <label  class="label" for="">Confirme contraseña</label>
                <input class="inputPass" type="text" name="" id="">
                <input class="inputPass" type="text" name="" id="">
            </form>
            <a>Cambiar</a>
        </div>
    </section>
</div>