


<section class="publicar-datos">

    <h1 class="title">AGREGAR VEHICULO</h1>

    <div class=" form-container">
        <form>

            <fieldset>

                <legend>ESPECIFICACIONES</legend>

                <div class="form-item">

                    <label class="form-item__label">Millaje</label>
                    <input class="form-item__input" type="search" required>


                    <label class="form-item__label--active">Traccion</label>
                    <input class="form-item__input--active" type="text">

                </div>



                <div class="form-item">
                    <label class="form-item__label">Color exterior</label>
                    <input class="form-item__input" type="text">

                    <label class="form-item__label--active">Color interior</label>
                    <input class="form-item__input--active" type="text">

                </div>

                <div class="form-item">
                    <label class="form-item__label">Consumo</label>
                    <input class="form-item__input" type="text">

                    <label class="form-item__label--active">Motor</label>
                    <input class="form-item__input--active" type="text">


                </div>

                <div class="form-item">
                    <label class="form-item__label">Combustible</label>
                    <input class="form-item__input" type="text">

                    <label class="form-item__label--active">Transmision</label>
                    <input class="form-item__input--active" type="text">


                </div>
            </fieldset>

            <fieldset>

                <div class="form-item">

                    <h1 class="f1">Consumo</h1>
                    <h1 class="f2">Desempeño</h1> <br>

                    <label class="form-item__label">Consumo combinado</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Transmision</label>
                    <input class="form-item__input--active" type="text">

                </div>



                <div class="form-item">

                    <label class="form-item__label">Consumo en ciudad</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Traccion</label>
                    <input class="form-item__input--active" type="text">

                </div>

                <div class="form-item">

                    <label class="form-item__label">Consumo en carretera</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Motor</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">

                    <label class="form-item__label">Tamaño del tanque </label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Potencia</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">
                    <h1 class="f1">Seguridad</h1>
                    <h1 class="f2">Medidas</h1> <br>

                    <label class="form-item__label">Camara de retroceso</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Puertas</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">

                    <label class="form-item__label">Monitoreo de puntos ciegos</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Volumen de carga</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">
                    <h1 class="f1">Adiciones</h1>
                    <h1 class="f2">Agregar Fotos</h1> <br>

                    <label class="form-item__label">Asientos calefaccionados</label>
                    <input class="form-item__input" type="text">

                    <div>
                        <label class="form-item__label">Bluetooh</label>
                        <input class="form-item__input" type="text">
                    </div>

                    <div>
                        <label class="form-item__label">Encendido remoto</label>
                        <input class="form-item__input" type="text">
                    </div>
                    <div>
                        <label class="form-item__label">Sist. de navegacion</label>
                        <input class="form-item__input" type="text">
                    </div>
                    <div>
                        <label class="form-item__label">Techo corredizo</label>
                        <input class="form-item__input" type="text">
                    </div>

                    <div>
                        <label class="form-item__label">Tercera fila de Asientos</label>
                        <input class="form-item__input" type="text">
                    </div>

                </div>


                <div class="caja">

                    <button >Subir Fotos</button>
                </div>

                <div>
                    <button class="c">ENVIAR</button>
                </div>

            </fieldset>

        </form>

    </div>

</section>