<!--
<h1 class="dato">Datos del carro que quieres vender</h1>


<section class="section publicar-datos">
            
    <div class="form-container">
        <div class="form-item">
            <label class="form-item__label" for="Anio">Año</label>
            <input class="form-item__input input-validation-error" min="1908" max="2024" type="number" data-val="true" data-val-range="Año entre 1908 y el próximo." data-val-range-max="2050" data-val-range-min="1908" data-val-required="Ingrese el año" id="Anio" name="Anio" value="" data-gtm-form-interact-field-id="0" aria-describedby="Anio-error" aria-invalid="true">
        <div>
-->


<!--
<section>
    <div class="contenedor">

     <div class="titulo">
        <h1>Datos del carro</h1>
     </div>
     
        <form class="formulario">
            <div class="general">
                <h3>Especificaciones</h3>
                <div>
                    <label for=""> millaje </label>
                    <input type="text" required>
                </div>

                <div>
                    <label> color de exterior </label>
                    <input type="text" required>
                </div>

                <div>
                    <label> consumo </label>
                    <input type="text" required>
                </div>
                <div>
                    <label> tipo de combustible </label>
                    <input type="text" required>
                </div>
                <div>
                    <label> traccion </label>
                    <input type="text" required>
                </div>
                <div>
                    <label> color interior </label>
                    <input type="text" required>
                </div>
                <div>
                    <label> motor </label>
                    <input type="text" required>
                </div>
                <div>
                    <label> transmision </label>
                    <input type="text" required>
                </div>

            </div>

            <div class="consumo">

                <h4>CONSUMO</h4>

                <div>
                    <label for="">consumo combinado</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">consumo en ciudad</label>
                    <input type="text" required>
                </div>

                <div>
                    <label for="">consumo en carretera</label>
                    <input type="number">
                </div>

                <div>
                    <label for=""> tamaño del tanque de combustible</label>
                    <input type="text" required>
                </div>


            </div>

            <div class="desempeño">
                <h4>Desempeño</h4>
                <div>
                    <label for=""> transmision</label>
                    <input type="text" required>
                </div>
                <div>
                    <label for=""> traccion</label>
                    <input type="text" required>
                </div>
                <div>
                    <label for=""> Motor</label>
                    <input type="text" required>
                </div>
                <div>
                    <label for=""> Potencia</label>
                    <input type="text" required>
                </div>

            </div>


            <div class="medida">
                <h2>MEDIDAS</h2>

                <div class=" input">
                    <label for=""> Puertas</label>
                    <input type="text" required>
                </div>
                <div class="input">
                    <label for=""> VOLUMEN DE CARGA</label>
                    <input type="text" required>
                </div>

            </div>

        </form>

    </div>


</section>
-->
<!--

<section>
    <div class="contenedor ">
        <div class="titulo">
            <h2>Datos del carro</h2>
        </div>


        <div class="form-box general">

            <form action="">
                <h2>ESPECIFICACIONES </h2>

                <div class="inpunt-box">
                    <label for="">Millaje </label>
                    <input type="text" required>

                </div>

                <div class="inpunt-box">
                    <label for="">Color del exterior</label>
                    <input type="text" required>

                </div>

                <div class="inpunt-box">
                    <label for="">Consumo</label>
                    <input type="email" required>

                </div>

                <div class="inpunt-box">
                    <label for="">Tipo de combustible</label>
                    <input type="password" required>

                </div>

                <div class="inpunt-box">
                    <label for="">Traccion</label>
                    <input type="text" required>

                </div>

                <div class="inpunt-box">
                    <label for="">Color interior</label>
                    <input type="text" required>

                </div>


            </form>

        </div>

        <div class="form-box consumo ">

            <form action="">
                <h2>Consumo</h2>
                <div class="inpunt-box">
                    <label for="">Consumo combinado</label>
                    <input type="text" required>

                </div>
                <div class="inpunt-box">
                    <label for="">Consumo en ciudad</label>
                    <input type="text" required>

                </div>
                <div class="inpunt-box">
                    <label for="">Consumo en carretera</label>
                    <input type="text" required>

                </div>
                <div class="inpunt-box">
                    <label for="">Tamaño del tanque de combustible</label>
                    <input type="text" required>

                </div>



            </form>

        </div>


        <div class="form-box desempeño ">

            <form action="">
                <h2>Desempeño</h2>
                <div class="inpunt-box">
                    <label for="">Transmision</label>
                    <input type="text" required>

                </div> 
                <div class="inpunt-box">
                    <label for="">Traccion</label>
                    <input type="text" required>

                </div> 
                <div class="inpunt-box">
                    <label for="">Motor</label>
                    <input type="text" required>

                </div>
                <div class="inpunt-box">
                    <label for="">Potencia</label>
                    <input type="text" required>

                </div>



            </form>

        </div>

        <div class="medidas">

            <form action="">
                <h2>MEDIDAS</h2>
                <div class="inpunt-box">
                    <label for="">Puertas</label>
                    <input type="text" required>
                    <label for="">Volumen de carga</label>
                    <input type="text" required>
                </div>
                
                    

                

            </form>

        </div>





    </div>

</section>
-->
<!--
<section class="publicar-datos">

    <h1>Agregar Carro</h1>

    <div class=" form-container">

        <div class="form-item">
            <label class="form-item__label" for="millaje">Millaje</label>
            <input class="form-item__input" type="number" required>
        </div>

        <div class="form-item">
            <label class="form-item__label" for="color">Color</label>
            <input class="form-item__input" type="color" required>

        </div>


        <div class="form-item">
            <label class="form-item__label" for="consumo">Consumo</label>
            <input class="form-item__input" type="number" required>
        </div>


        <div class="form-item">
            <label class="form-item__label" for="combustible">Combustible</label>
            <select id="combustible" name="combustible">
                <option value="manual">Selecionar</option>
                <option value="gasolina">Gasolina</option>
                <option value="diesel">Diesel</option>
                <option value="electrico">Eléctrico</option>
                <option value="electrico"> Gasolina y Eléctrico</option>
            </select>
        </div>

        <div class="form-item">
            <label class="form-item__label" for="traccion">Traccion</label>
            <input class="form-item__input" type="number" required>

        </div>


        <div class="form-item">
            <label class="form-item__label" for="Color">Color interior</label>
            <select class="form-item-select" data-val="true" data-val-required="Seleccione un color" id="Color"
                name="Color">
                <option value="">Seleccionar...</option>
                <option value="2048">Azul</option>
                <option value="2052">Blanco</option>
                <option value="11011">Bronce</option>
                <option value="2055">Celeste</option>
                <option value="2057">Gris</option>
                <option value="2062">Marrón</option>
                <option value="11261">Marrón</option>
                <option value="2063">Naranja</option>
                <option value="2064">Negro</option>
                <option value="11337">Plata</option>
                <option value="2068">Rojo</option>
                <option value="2069">Verde</option>

            </select>
        </div>


        <div class="form-item">
            <label class="form-item__label" for="motor">Motor</label>
            <input class="form-item__input" type="text" required>
        </div>


        <div class="form-item">
            <label class="form-item__label" for="transmision">Transmision</label>
            <select id="transmision" name="transmision">
                <option value="manual">Selecionar</option>
                <option value="manual">Manual</option>
                <option value="automatica">Automática</option>
            </select>
        </div>

-->


<section class="publicar-datos">

    <h1 class="title">AGREGAR VEHICULO</h1>

    <div class=" form-container">
        <form>

            <fieldset>

                <legend>ESPECIFICACIONES</legend>

                <div class="form-item">

                    <label class="form-item__label">Millaje</label>
                    <input class="form-item__input" type="search" required>


                    <label class="form-item__label--active">Traccion</label>
                    <input class="form-item__input--active" type="text">

                </div>



                <div class="form-item">
                    <label class="form-item__label">Color exterior</label>
                    <input class="form-item__input" type="text">

                    <label class="form-item__label--active">Color interior</label>
                    <input class="form-item__input--active" type="text">

                </div>

                <div class="form-item">
                    <label class="form-item__label">Consumo</label>
                    <input class="form-item__input" type="text">

                    <label class="form-item__label--active">Motor</label>
                    <input class="form-item__input--active" type="text">


                </div>

                <div class="form-item">
                    <label class="form-item__label">Combustible</label>
                    <input class="form-item__input" type="text">

                    <label class="form-item__label--active">Transmision</label>
                    <input class="form-item__input--active" type="text">


                </div>
            </fieldset>

            <fieldset>

                <div class="form-item">

                    <h1 class="f1">Consumo</h1>
                    <h1 class="f2">Desempeño</h1> <br>

                    <label class="form-item__label">Consumo combinado</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Transmision</label>
                    <input class="form-item__input--active" type="text">

                </div>



                <div class="form-item">

                    <label class="form-item__label">Consumo en ciudad</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Traccion</label>
                    <input class="form-item__input--active" type="text">

                </div>

                <div class="form-item">

                    <label class="form-item__label">Consumo en carretera</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Motor</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">

                    <label class="form-item__label">Tamaño del tanque </label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Potencia</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">
                    <h1 class="f1">Seguridad</h1>
                    <h1 class="f2">Medidas</h1> <br>

                    <label class="form-item__label">Camara de retroceso</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Puertas</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">

                    <label class="form-item__label">Monitoreo de puntos ciegos</label>
                    <input class="form-item__input" type="text">


                    <label class="form-item__label--active">Volumen de carga</label>
                    <input class="form-item__input--active" type="text">

                </div>


                <div class="form-item">
                    <h1 class="f1">Adiciones</h1>
                    <h1 class="f2">Agregar Fotos</h1> <br>

                    <label class="form-item__label">Asientos calefaccionados</label>
                    <input class="form-item__input" type="text">

                    <div>
                        <label class="form-item__label">Bluetooh</label>
                        <input class="form-item__input" type="text">
                    </div>

                    <div>
                        <label class="form-item__label">Encendido remoto</label>
                        <input class="form-item__input" type="text">
                    </div>
                    <div>
                        <label class="form-item__label">Sist. de navegacion</label>
                        <input class="form-item__input" type="text">
                    </div>
                    <div>
                        <label class="form-item__label">Techo corredizo</label>
                        <input class="form-item__input" type="text">
                    </div>

                    <div>
                        <label class="form-item__label">Tercera fila de Asientos</label>
                        <input class="form-item__input" type="text">
                    </div>

                </div>


                <div class="caja">

                 <button>Subir Fotos</button>
                </div>

            </fieldset>

        </form>

    </div>

</section>


































<!--
<section>

        <form action="submit-form.php" method="POST">
            <label for="marca">Millaje:</label>
            <input type="text" id="marca" name="marca" required>

            <label for="modelo">Color del exterior:</label>
            <input type="text" id="modelo" name="modelo" required>

            <label for="anio">Consumo:</label>
            <input type="number" id="anio" name="anio" required>

            <label for="precio">combustible:</label>
            <input type="number" id="precio" name="precio" required>

            <label for="transmision">Traccion:</label>
            <select id="transmision" name="transmision">
                <option value="manual">Selecionar</option>
                <option value="manual">Manual</option>
                <option value="automatica">Automática</option>
            </select>

            <label for="combustible">Color interior:</label>
            <select id="combustible" name="combustible">
                <option value="manual">Selecionar</option>
                <option value="gasolina">Gasolina</option>
                <option value="diesel">Diesel</option>
                <option value="electrico">Eléctrico</option>
            </select>

            <label for="color">Motor:</label>
            <input type="text" id="color" name="color" required>

            <label for="kilometraje">transmision:</label>
            <input type="number" id="kilometraje" name="kilometraje" required>

            <input type="submit" value="Agregar carro">
        </form>
    </div>
</section>

-->