
<section class="publicar-datos" id="modal">

    <h1 class="title">AGREGAR VEHICULO</h1>

    <div class=" form-container">
        <form [formGroup]="FormCar" (submit)="Send()">

            <fieldset>

                <legend>ESPECIFICACIONES</legend>

                <div class="form-item">

                    <label class="form-item__label">Millaje</label>
                    <input class="form-item__input" type="text" formControlName="mileage">


                    <label class="form-item__label--active">Traccion</label>
                    <input class="form-item__input--active" formControlName="traction" type="text">

                </div>



                <div class="form-item">
                    <label class="form-item__label">Color exterior</label>
                    <input class="form-item__input" formControlName="outsideColor" type="text">

                    <label class="form-item__label--active">Color interior</label>
                    <input class="form-item__input--active" formControlName="insidecolour" type="text">

                </div>

                <div class="form-item">
                    <label class="form-item__label">Consumo</label>
                    <input class="form-item__input" formControlName="consumption" type="text">

                    <label class="form-item__label--active">Motor</label>
                    <input class="form-item__input--active" formControlName="engine" type="text">


                </div>

                <div class="form-item">
                    <label class="form-item__label">Combustible</label>
                    <input class="form-item__input" formControlName="fueltype" type="text">

                    <label class="form-item__label--active">Transmision</label>
                    <input class="form-item__input--active"formControlName="transmission" type="text">


                </div>
            </fieldset>

            <fieldset>
                    
                <div class="form-item">

                    <h1 class="f1">Información</h1> <br>
                 

                    <label class="form-item__label">Nombre del carro*</label>
                    <input class="form-item__input" formControlName="name" type="text"> 


                    <label class="form-item__label--active">Precio*</label>
                    <input class="form-item__input--active" formControlName="price" type="number" >

                    <label class="form-item__label">Estado*</label>
                    <input class="form-item__input" formControlName="state" type="text">

                    <label class="form-item__label--active">Ciudad*</label>
                    <input class="form-item__input--active" formControlName="city" type="text" >
                </div>
            </fieldset>

            <fieldset>

                <div class="form-item">

                    <h1 class="f1">Consumo</h1>
                    <h1 class="f2">Desempeño</h1> <br>

                    <label class="form-item__label">Consumo combinado</label>
                    <input class="form-item__input" formControlName="Combinedconsumption" type="text">


                    <label class="form-item__label--active">Transmision</label>
                    <input class="form-item__input--active" formControlName="Transmission" type="text">

                </div>



                <div class="form-item">

                    <label class="form-item__label">Consumo en ciudad</label>
                    <input class="form-item__input" formControlName="Consumptioncity" type="text">


                    <label class="form-item__label--active">Traccion</label>
                    <input class="form-item__input--active"  formControlName="Traction" type="text">

                </div>

                <div class="form-item">

                    <label class="form-item__label">Consumo en carretera</label>
                    <input class="form-item__input" type="text" formControlName="Consumptionroad">


                    <label class="form-item__label--active">Motor</label>
                    <input class="form-item__input--active" formControlName="Engine" type="text">

                </div>


                <div class="form-item">

                    <label class="form-item__label">Tamaño del tanque </label>
                    <input class="form-item__input" formControlName="tanksize" type="text">


                    <label class="form-item__label--active">Potencia</label>
                    <input class="form-item__input--active" formControlName="Power" type="text">

                </div>


                <div class="form-item">
                    <h1 class="f1">Seguridad</h1>
                    <h1 class="f2">Medidas</h1> <br>

                    <label class="form-item__label">Camara de retroceso</label>
                    <input class="form-item__input" formControlName="Reversingcamera" type="text">


                    <label class="form-item__label--active">Puertas</label>
                    <input class="form-item__input--active" formControlName="doors" type="text">

                </div>



                <div class="form-item">

                    <label class="form-item__label">Monitoreo de puntos ciegos</label>
                    <input class="form-item__input" formControlName="Blindspot" type="text">


                    <label class="form-item__label--active">Volumen de carga</label>
                    <input class="form-item__input--active" formControlName="cargovolume" type="text">

                </div>


                <div class="form-item">
                    <h1 class="f1">Adiciones</h1>
                    <h1 class="f2">Agregar Fotos</h1> <br>

                    <label class="form-item__label">Asientos calefaccionados</label>
                    <input class="form-item__input" formControlName="Heatedseats" type="text">

                    <div>
                        <label class="form-item__label">Bluetooh</label>
                        <input class="form-item__input" formControlName="Bluetooth" type="text">
                    </div>

                    <div>
                        <label class="form-item__label">Encendido remoto</label>
                        <input class="form-item__input" formControlName="remotestart" type="text">
                    </div>
                    <div>
                        <label class="form-item__label">Sist. de navegacion</label>
                        <input class="form-item__input" formControlName="Systemnavigation" type="text">
                    </div>
                    <div>
                        <label class="form-item__label">Techo corredizo</label>
                        <input class="form-item__input" formControlName="SunroofHatch" type="text">
                    </div>

                    <div>
                        <label class="form-item__label">Tercera fila de Asientos</label>
                        <input class="form-item__input" formControlName="hatch" type="text">
                    </div>

                </div>


                <div class="caja">

                    <input type="file" accept="image/png, image/jpeg" formControlName="images" multiple id="imagenes"/>

                </div>

                <div class="en">
                    <button  [disabled]="!FormCar.valid" class="c">ENVIAR</button>
                    <button (click)="close()" class="c">CANCELAR</button>
                </div>
                
               
                

            </fieldset>

        </form>

    </div>

</section>


<div class="Body">
    <section class="Body-perfil-dealer">
        <div class="perfil-dealer-CommonData">
            <div>
                <p>{{Dealer.user}}</p>
            </div>
            <div>
                <p>ubicacion</p>
            </div>
            <img class="imgPerfil" src="../../assets/Perfilphoto.svg" alt="">
            <div>
                <p>josman@gmail.com</p>
            </div>
            <div>
                <p>32422433</p>
            </div>
        </div>


        <div class="perfil-dealer-Nav">
            <p class="Per" (click)="hide(1)">Datos dealer</p>
            <p class="Per" (click)="hide(2)">Agregar vehiculo</p>

        </div>


        <div class="perfil-dealer-totalinfo" *ngIf="visibleVar==1">
            <div class="content">
                <p>3244344</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>

            <div class="content">
                <p>oelod</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>

            <div class="content">
                <p>nombre</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>

            <div class="content">
                <p>estado</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>zip</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>

            <div class="content">
                <p>ciudad</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>

        </div>
        
        <div class="Perfil-dealer-totalinfo" *ngIf="visibleVar==2">

            <div> 
                <button class="button" (click)="open()">Agregar vehiculo </button >
                         
            </div>

            <div class="CarrouselProducts">
                <div class="Cards">
                    <div class="Cardsproducts">
                        <div class="ImageProduct">
                            <div class="ImageCarProduct">
                                <img src="../../assets/Audi.svg" alt="">
                            </div>
                            <div class="textCards">
                                <p>tesla</p>
                            </div>
                            <div class="textCards">
                                <img src="../../assets/DollarIcon.svg" alt="">
                                <p>$222222</p>
                            </div>
                            <div class="Locate"><img src="../../assets/Locate.svg" alt="">
                                <p class="Textlocate"> medellin colombia</p>
                            </div>
                            <div class="ButtonShowMore"><a routerLink="#">Ver más</a></div>
                        </div>
                    </div>
                </div>
            </div>
















            <!--
            <div class="content">
                <p>{{User.typeofcontract}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>{{User.typeofresidence}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>{{User.credit}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
            <div class="content">
                <p>{{User.income}}</p>
                <img src="../../assets/editicon.svg" alt="">
            </div>
        </div>
        <div class="Perfil-dealer-totalinfo-Password" *ngIf="visibleVar==3"> 
            <div class="totalinfo-h2">
                <h2>Cambiar contraseña</h2>
            </div>
            <form class="password">
                <label class="label" for="">Nueva contraseña</label>
                <label  class="label" for="">Confirme contraseña</label>
                <input class="inputPass" type="text" name="" id="">
                <input class="inputPass" type="text" name="" id="">
            </form>
            <a>Cambiar</a>
        </div>
    </section>
</div>
-->