<section class="Modal" id="Modal">
    <div class="BoxModal">
        <div class="Logo-h2">
            <img src="../../assets/CreditCarLogotipo.svg" alt="">
            <h2><b>Contactanos</b></h2>
        </div>
        <div class="Contact-P">
            <div>
                <p> <b> Tel:</b> +1 408 XXX XXXX</p>
                <p> <b> Correo eletronico:</b> xxxxxxxx@gmail.com</p>
            </div>
            <div class="IconMan">
                <img src="../../assets/Announce-man.svg" alt="">
            </div>
        </div>
        <div><a class="ButtonPrefinancing" (click)="Hide()">Cerrar</a></div>
    </div>
</section>

<div>
    <section class="SectionBackground">
        <div class="backgroundFinancing">
            <img src="../../assets/Announce.svg" alt="">
        </div>
        <div class="DivUsual">
            <div class="BackgroundDifuse">
            </div>
            <div class="Logo-ButtonPreFinancing">
                <img src="../../assets/CreditCarLogotipo.svg" alt="">
            </div>
            <div><a class="ButtonPrefinancing" (click)="Hide()">Anuncia ahora tu vehiculos</a></div>
        </div>
        
    </section>
    <section class="SectionInfoDest">
        <div class="InfoDest-title-text">
            <div class="title">
                <h2><b>Unete como dealer</b> en CreditCar</h2>
            </div>
            <div class="text">
                <p> <b> ¿Eres un concesionario buscando una forma efectiva de promocionar tus vehículos y aumentar tus ventas? Creditcar es la solución.</b> Como una página web de promoción de carros, te permite presentar tus vehículos a compradores interesados. Con opciones de búsqueda y filtros, los compradores pueden encontrar fácilmente el automóvil que desean y contactarte para más información. <br><br>  <b> Únete a Creditcar hoy y llega a más clientes potenciales de manera efectiva. </b></p>
            </div>
        </div>
    </section>
    <section class="SectionInfoCards">
        <div class="DivInfoCards">
            <div class="Card">
                    <h2><b>En caso de estar registrado en nuestro aplicativo </b> por favor ingresa sesión usando este botón</h2>
                    <div><a class="ButtonPrefinancing" routerLink="/login">Ingresar</a></div>
            </div>

        </div>
    </section>
</div>