<div class="SidesOcult">
    <div class="SideOcult1">

    </div>

    <section class="Allcontent" id="CardsSlides">
        <div class="Slider1" id="Slider1">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>¿Cuanto es el monto inicial?</h2>
            </div>
            <form class="Input-Label">
                <label for="">Monto</label>
                <input type="text">
            </form>
            <div class="Title2">
                <h2>¿Qué precio tiene el vehículo?</h2>
            </div>
            <form class="Input-Label">
                <label for="">Precio</label>
                <input type="text">
            </form>
            <div class="NextModule0"><button (click)="Moveit('Slider1','visto')">Continuar</button></div>
        </div>
        <div class="Slider2">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>¿Cuanto dinero desea financiar?</h2>
            </div>
            <div class="Value">
                <h2 class="Value" id="RangeValue">0</h2>
            </div>
            <div class="SliderValue"><input class="SliderBar" type="range" min="1000" max="50000" id="RangeSlide"></div>
            <div class="">
                <p>($1,000 min hasta $50,000 Max)</p>
            </div>
            <div class="NextModule1"><button (click)="Moveit('Slider1','visto')">Volver</button><button
                    (click)="Moveit('Slider1','visto1')">Continuar</button></div>
        </div>
        <div class="Slider3">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>¿En que tipo de residencia vives?</h2>
            </div>
            <select name="" id="">
                <option value="">Residencia propia</option>
                <option value="">Residencia alquilada</option>
            </select>
            <div class="Title1">
                <h2>¿Cómo es tu credito?</h2>
            </div>
            <select class="ButtonCredit1" name="" id="">
                <option value="">Excelente(720 - 850)</option>
                <option value="">Bueno(680 - 719)</option>
                <option value="">Justo(640 - 679)</option>
                <option value="">Pobre(0 - 639)</option>
            </select>
            <div class="Title1">
                <h2>¿Qué tipo de contrato manejas?</h2>
            </div>
            <select class="ButtonContract" name="" id="">
                <option value="">Tiempo completo</option>
                <option value="">Mitad de tiempo</option>
                <option value="">Independiete</option>
                <option value="">Desempleado</option>
                <option value="">Otro </option>
            </select>
            <div class="NextModule3"><button (click)="Moveit('Slider1','visto1')">Volver</button><button
                    (click)="Moveit('Slider1','visto2')">Continuar</button></div>
        </div>
        <div class="Slider4">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>¿Cuales son tu ingresos anuales?</h2>
            </div>
            <form class="Input-Label">
                <label for="">Ingresos</label>
                <input type="text">
            </form>
            <div class="Title1">
                <h2>¿Cuál es tu codigo Zip?</h2>
            </div>
            <form class="Input-Label">
                <label for="">Zip</label>
                <input type="text">
            </form>

            <div class="NextModule4"><button (click)="Moveit('Slider1','visto2')">Volver</button><button
                    (click)="Moveit('Slider1','visto3')">Continuar</button></div>
        </div>
        <div class="Slider5">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>¿Cuál es tu dirección?</h2>
            </div>
            <form class="Input-Label">
                <label for="">Dirección</label>
                <input type="text">
            </form>
            <form class="Input-Label2" id="">
                <label for="">Ciudad</label>
                <input type="text">
            </form>

            <div class="NextModule5"><button (click)="Moveit('Slider1','visto3')">Volver</button><button
                    (click)="Moveit('Slider1','visto4')">Continuar</button></div>
        </div>
        <div class="Slider6">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>Algunos datos más..</h2>
            </div>
            <form class="Input-Label">
                <label for="">Celular</label>
                <input type="text">
            </form>
            <form class="Input-Label">
                <label for="">Correo electronico</label>
                <input type="text">
            </form>
            <form class="Input-Label">
                <label for="">Nombres y Apellidos</label>
                <input type="text">
            </form>
            <div class="NextModule6"><button (click)="Moveit('Slider1','visto4')">Volver</button><button
                    (click)="Moveit('Slider1','visto5')">Continuar</button></div>
        </div>
        <div class="Slider7">
            <div class="Logotipo"><img src="../../assets/CreditCarLogotipo.svg" alt=""></div>
            <div class="Title1">
                <h2>¡Ya terminaste!</h2>
            </div>
            <form class="Input-Label">
                <label for="">Contraseña</label>
                <input type="password">
            </form>
            <form class="Input-Label">
                <label for="">Confirma contraseña</label>
                <input type="password">
            </form>
            <div class="NextModule7"><button (click)="Dissapear()"  (click)="show()">Consigue tu pre-financiamiento</button><button
                    (click)="Moveit('Slider1','visto7')">Volver</button></div>
        </div>
    </section>
    <div class="ResultsBody" id="results1">
        <div class="Content1">
            <div class="Title3"><h2>Este es tu porcentaje</h2></div>
            <div class="Percent"><p>2</p><p>%</p></div>
            <div class="P3"><p>Según tu porcentaje te dejamos aquí los dealers más recomendados</p></div>
        </div>
        <div class="Content2">
            <div class="cards">
                <div class="Content3">
                    <img src="../../assets/CarProduct.svg" alt="">
                    <p>Covert Chrysler Jeep Ram</p>
                </div>
                <div class="Content3">
                    <img src="../../assets/CarProduct.svg" alt="">
                    <p>Covert Chrysler Jeep Ram</p>
                </div>
                <div class="Content3">
                    <img src="../../assets/CarProduct.svg" alt="">
                    <p>Covert Chrysler Jeep Ram</p>
                </div>
                <div class="Content3">
                    <img src="../../assets/CarProduct.svg" alt="">
                    <p>Covert Chrysler Jeep Ram</p>
                </div>
            </div>
        </div>
    </div>
</div>
