.Allcontent{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
form{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Slider1{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 520px;
    transition:all .5s ease-in-out;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.visto{
    transition:all .5 ease-in; 
    margin-left: -200px;
}
.visto1{
    transition:all .5 ease-in; 
    margin-left: -850px;
}
.visto2{
    transition:all .5 ease-in; 
    margin-left: -1550px;
}
.visto3{
    transition:all .5 ease-in; 
    margin-left: -2250px;
}
.visto4{
    transition:all .5 ease-in; 
    margin-left: -2950px;
}
.visto5{
    transition:all .5 ease-in; 
    margin-left: -3650px;
}
.visto6{
    transition:all .5 ease-in; 
    margin-left: -4350px;
}

.visto8{
    display:none;
}
.Slider2{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:all .5 ease-in; 
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);

}
.Slider3{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.Slider4{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);

}
.Slider5{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.Slider6{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.Slider7{
    min-width: 500px;
    height: 600px;
    max-height:fit-content;
    margin: 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);

}

.Logotipo{
    margin: 30px 0 50px 0;
}
.Title1{
    color: var(--c1);
    margin: 0 0 5px 0;
    text-align: center;
}
.Title2{
    margin: 0 0 5px 0;
    color: var(--c1);
    margin: 15px 0 ;
}
.Input-Label{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.Input-Label2{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
label{
    font-weight:bolder ;
    color: var(--c1);
}
input{
    border-radius: 5px;
}

.NextModule0{
    width: 100%;
    margin: 60px 0;
    display: flex;
    justify-content: center;
}
.NextModule0 a{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--w);
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.NextModule1{
    margin-top:190px;
}
.NextModule1 a{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--w);
    border-radius: 20px;
    margin: 110px 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.NextModule3{
    margin-top: 30px;
}
.NextModule3 a{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--w);
    border-radius: 20px;
    margin: 40px 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.NextModule4{
    margin-top: 80px;
}
.NextModule4 a{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--w);
    border-radius: 20px;
    margin: 30px 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.NextModule7 a{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--w);
    border-radius: 20px;
    margin: 30px 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);

}
.NextModule7{
    margin-top: 20px;
}
.NextModule7 button{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--w);
    border-radius: 20px;
    margin: 30px 20px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}

select{
    border: none;
    padding: 8px 4px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--c1);
    color: var(--sw);
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.SliderBar{

    width: 300px;
    height: 6px; 
    background: linear-gradient(to right, #6b8dff 0%, #ff2a5f 0%, #fff 0%, #fff 100%);
    transition: background 450ms ease-in;
    border-radius: 25px;

}
.SliderBar::-webkit-slider-thumb{
    cursor: pointer;
    height: 35px;
    width: 35px;
    background: var(--c1);
    border-radius:50%;
    border: 7px solid rgb(255,255, 255);

}

.SlideOcult{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.SideOcult1{
    width: 300px;
    height: 100%;
    position: absolute;
    filter: blur(4px);
    background-color: rgba(246, 246, 246, 0.6);;
    z-index: 200;
}
.Value{
    color: var(--c1);
}
.Content1{
    margin: 0 auto;
    width: 800px;
    height: fit-content;
    max-height:fit-content;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    border-top: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.Content1 div h2{
    color: var(--c1);
}
.Title3{
    margin: 5px;
}
.P3 p{
    text-align: center;
}
.Content2{
    width: 1200px;
    height: fit-content;
    padding: 30px 0;
    margin: 20px 100px 40px 100px;
    border-radius: 15px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);

}
.Content3{

    cursor: pointer;
    width: 300px;
    height:  450px;
    border-radius: 15px;
    border-top: var(--c1) solid 4px;
    border-bottom: var(--c1) solid 4px;
    background-color:var(--sw);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.40);
}
.visto9{
    display:flex !important;
}
.ResultsBody{
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.Content3-Stats div{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    padding-left: 10px;
}
.Locate-div{
    margin: -20px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}
.percent-logo{
     height: 300px;
     overflow: hidden;
}
.percent{
    font-size: 60px;
    position: relative;
    z-index: 1;
    color: var(--sw);
    top: 22%;
    left: 18%;
    text-align: center;
    background-color: var(--c1);
    width: fit-content;
    border-radius: 15px;
}
.Ubi{

    width: 25px;
    height: 25px;

}
.Logo{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-top: -200px;
}

  