<!--
<section class="formulario">

<img src="../../assets/Logotipoblanco.svg" class="img">

 <h1>Registrate </h1>
  
<div class="contenedor">

 <div class="input-contenedor">

<label for="nom">Nombre de usuario</label>
<input type="text" placeholder="Mombre del concecionario">
 </div>

 <div class="input-contenedor">

     </div>

     <div class="input-contenedor">

        <label for="num">Numero de telefono</label>
        <input type="text" placeholder="Ej:3218685165">
         </div>

         <div class="input-contenedor">

            <label for="correo">Correo electronico</label>
            <input type="text" placeholder="Ej:Tunombre@gmail.com">
             </div>

             <div class="input-contenedor">

                <label for="Contraseña">Contraseña</label>
                <input type="password">
                 </div>


                 <button>REGISTRATE</button>

                 <p> ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión </a> <p>     
</div>
</section>

-->

<section>
   <div class="contenedor">
      <div class="item">
         <img src="../../assets/Logotipoblanco.svg" class="img">

         <!--
         <img src="../../assets/AudififthPhoto.svg" class="audi"> -->

         <div class="texto">
            <h2>BIENVENIDO <br><span>
                  to our channel
               </span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente debitis, excepturi numquam tenetur,
               maiores harum suscipit, quia voluptatem quisquam in natus nulla delectus expedita ea! Eaque temporibus
               quia velit repellat nobis explicabo ratione commodi? At velit aspernatur corrupti quasi quia?</p>
         </div>
      </div>
      <div class="register-section">
         <div class="form-box register">

            <form action="">
               <h1>REGISTRATE</h1>
               <div class="inpunt-box">
                  <label for="">Nombres y apellidos</label>
                  <input type="text" required placeholder="Ej:Carlos Acevedo">

               </div>

               <div class="inpunt-box">
                  <label for="">Numero de telefono</label>
                  <input type="text" required placeholder="Ej:3218653421">

               </div>

               <div class="inpunt-box">
                  <label for="">Correo electronico</label>
                  <input type="email" required placeholder="Ej:Tunombre@gmail.com">

               </div>

               <div class="inpunt-box">
                  <label for="">Contraseña</label>
                  <input type="password" required>

               </div>

               <button class="button">REGISTRATE</button>
               <div class="iniciar-sesion">
                  <p>¿Ya tienes cuenta?<a routerLink="/login" class="login">Iniciar Sesión</a></p>
               </div>
            </form>

         </div>

      </div>

   </div>