.contenedor {
    position: absolute;
    margin: 50px 230px;
    height: 490px;
    width: 65%;
    border-radius: 20px;
    background: var(--sw);
    border: 3px var(--c1) solid;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 100%;
    color: rgb(221, 227, 231);
    background: var(--c1);
    border-radius: 15px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.img {
  
    width: 63%;
    height: 25%;
    margin-top: 5%;
    object-fit: contain;
}

.texto h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: left;
    margin-left: 40px;
   
    margin-top: 30%;
}

.texto p {
    font-size: 16px;
    margin: 20px 0;
   
}

.contenedor .register-section {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: var(--b);
    border: 3px blue solid;
}

.register-section .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 

}

.register-section .form-box h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 3%;


}

.inpunt-box label {
    top: 50%;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    margin-left: 3.5%;
}

.form-box.inpunt-box {
    padding-top: 30px;
    width: 340px;
    height: 50px;
    margin: 30px 0;
    position: relative;

}

.inpunt-box input {
    width: 90%;
    height: 80%;
    outline: none;
    padding: 7px;
    margin-bottom: 15px;
    margin-left: 3%;
    border-radius: 6px;
    border: 1px var(--b) solid;
    transition: all .6s;
    opacity: 0.9;

}

.inpunt-box input::placeholder {
    font-size: 14px;
    font-family: 'Times New Roman';
}

.inpunt-box input:focus {
    border: 1px var(--c1)solid;
}

.inpunt-box input:hover {
    border: 1px var(--c1)solid;
}

.button {
    background: var(--c1);
    width: 80%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: var(--w);
    margin: 8px 0 0 10%;
    transition: all 0.2s;
}

.button:hover {
    background-color: var(--c2);
    color: var(--b);
}

.iniciar-sesion {
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.iniciar-sesion p a {
    color: var(--c1);
    font-weight: 600px;
    text-decoration: none;

}

.iniciar-sesion p :hover {
    text-decoration: underline;
}