
<section class="formulario">

<img src="../../assets/Logotipoblanco.svg" class="img">

 <h1>Registrate </h1>
  
<div class="contenedor">

 <div class="input-contenedor">

<label for="nom">Nombre de usuario</label>
<input type="text" placeholder="Mombre del concecionario">
 </div>

 <div class="input-contenedor">

     </div>

     <div class="input-contenedor">

        <label for="num">Numero de telefono</label>
        <input type="text" placeholder="Ej:3218685165">
         </div>

         <div class="input-contenedor">

            <label for="correo">Correo electronico</label>
            <input type="text" placeholder="Ej:Tunombre@gmail.com">
             </div>

             <div class="input-contenedor">

                <label for="Contraseña">Contraseña</label>
                <input type="password">
                 </div>


                 <button>REGISTRATE</button>

                 <p> ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión </a> <p>
                  
                  
</div>


</section>


  