
<section class="formulario">

<img src="../../assets/Logotipoblanco.svg" class="img">

 <h1>Registrate </h1>
  
<div class="contenedor">

 <div class="input-contenedor">

<label for="nom">Nombres y apellidos</label>
<input type="text" placeholder="Ej:Maria Perez">
 </div>

 <div class="input-contenedor">

    <label for="cedu">Numero de identificación</label>
    <input type="text" placeholder="Ej:1000295648">
     </div>

     <div class="input-contenedor">

        <label for="num">Numero de telefono</label>
        <input type="text" placeholder="Ej:3218685165">
         </div>

         <div class="input-contenedor">

            <label for="correo">Correo electronico</label>
            <input type="text" placeholder="Ej:Tunombre@gmail.com">
             </div>

             <div class="input-contenedor">

                <label for="Contraseña">Contraseña</label>
                <input type="password">
                 </div>


                 <button>REGISTRATE</button>

                 <p> ¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión </a> <p>
                  
                  
</div>


</section>


  