.formulario{
    margin: 30px auto;
    height: auto;
    width: 480px;
    background-color: var(--w);
    padding: 1px 3px 12px 1px ;
    text-align: center;
    box-shadow: 2px 5px 15px 0 var(--b);
    background-origin: padding-box;
    border-radius: 2%;
}

.img{

    margin-bottom: 3px;
    padding:12px 380px 0 0; 
    background-color: var(--c1);
    display: block;
    border-color: black ;
}

h1{
    font-size: 2em;
    margin: 0.67em 0;
}

label{
    margin-left:28px;
    padding:0;
    font-weight:400;
    display:block;
    text-align: left;
    font-size: 15px;
}

input[type="text"],
input[type="password"]{

    width: 85%;
    margin:0 0 15px 0;
    padding: 7px;
    border-radius: 6px;
    opacity: 0.9;
    border: 1px var(--b) solid;
    outline: none;
    transition:  all 0.4s;
}
 input::placeholder{
 font-size: 14px;
  }

  input:focus{
  border: 1px var(--c1)solid;
  }

  input:hover{
    border: 1px var(--c1) solid;
  }
 button{
    background-color: var(--c1);
    margin: 15px 0 0 0;
    width: 38%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    color: var(--w);
    font-weight: bold;
    cursor: pointer;
    
  
 }

button:hover{
    background:var(--c2);
  color: var(--b);
}

p{
    text-align: center;
 color: var(--b);
}

a{
    text-decoration: none;
    color: var(--c1);
    font-weight: 600;
    cursor: pointer;
}
a:hover{
    text-decoration-line:underline;

}
